# lab1

this is my first lab.

In [1]:
import pandas as pd 

covid_data = pd.read_csv('s3://ia340-2025-35102/data.csv')

covid_data.head()

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/fsspec/registry.py:298: UserWarning: Your installed version of s3fs is very old and known to cause
severe performance issues, see also https://github.com/dask/dask/issues/10276

To fix, you should specify a lower version bound on s3fs, or
update the current installation.

  warnings.warn(s3_msg)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658

In [4]:
crime_data = pd.read_csv('s3://ia340-2025-35102/Crime.csv')

crime_data.head()

/tmp/ipykernel_11827/288979034.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_data = pd.read_csv('s3://ia340-2025-35102/Crime.csv')

,Incident ID,Offence Code,CR Number,Dispatch Date / Time,Start_Date_Time,End_Date_Time,NIBRS Code,Victims,Crime Name1,Crime Name2,...,PRA,Address Number,Street Prefix,Street Name,Street Suffix,Street Type,Latitude,Longitude,Police District Number,Location
0,201194204,2305,180031343,06/25/2018 07:03:12 PM,06/22/2018 06:00:00 PM,06/22/2018 08:00:00 PM,23F,1,Crime Against Property,Theft From Motor Vehicle,...,546,19200.0,NaN,WATKINS MILL,NaN,RD,39.17057,-77.2089,6D,"(39.1706, -77.2089)"
1,201192754,3562,180029527,06/15/2018 09:28:52 AM,06/15/2018 09:28:00 AM,06/15/2018 09:28:00 AM,35A,1,Crime Against Society,Drug/Narcotic Violations,...,391,17000.0,NaN,BATCHELLORS FOREST,NaN,RD,39.13580,-77.0453,4D,"(39.1358, -77.0453)"
2,201197266,5404,180035053,07/15/2018 10:14:12 PM,07/15/2018 10:14:00 PM,07/15/2018 11:45:00 PM,90D,1,Crime Against Society,Driving Under the Influence,...,336,NaN,NaN,WELLER,NaN,RD,39.06421,-77.0690,4D,"(39.0642, -77.069)"
3,201197538,2399,180035451,07/17/2018 10:11:04 PM,07/17/2018 01:40:00 PM,07/17/2018 02:20:00 PM,23H,1,Crime Against Property,All other Larceny,...,594,NaN,NaN,CLOPPER,NaN,RD,39.14830,-77.2377,5D,"(39.1483, -77.2377)"
4,201194239,1399,180031372,06/25/2018 10:14:39 PM,06/25/2018 10:14:00 PM,NaN,13B,1,Crime Against Person,Simple Assault,...,447,12600.0,NaN,GREY EAGLE,NaN,CT,39.16706,-77.2635,5D,"(39.1671, -77.2635)"